.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.center {
    display: grid;
    align-content: center;
    margin-top: 6rem;
    width: 80%;
}

ion-col {
    text-align: center;
}
